.menu-top{
    width: calc(100% - 80px);
    padding: 0 40px;
    background-color: rgb(30, 170, 111);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 40px rgb(119, 255, 198);
}

.fixLink{
    text-decoration: none;
    color: #ffffff;
    display: inline;
}

.menu-top > .logoSide > .fixLink{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-top > .logoSide > .fixLink > h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    color: #ffffff;
}

.icon-size{
    height: 30px;
    color: #ffffff;
    padding-right: 7px;
}

.menu-top > .menuSide{
    position: relative;
}

.menu-top > .menuSide > nav{
    display: flex;
    flex-wrap: wrap;
}

.menu-top > .menuSide > nav > li{
    list-style: none;
}

.menu-top > .menuSide > nav > li > a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 15px;
}

.desktop-logo{
    display: block;
}

.mobile-logo{
    display: none;
}

.menu-icon{
    cursor: pointer;
    height: 35px;
    color: #ffffff;
    display: none;
}

@media (max-width:810px){
    .desktop-logo{
        display: none;
    }
    .mobile-logo{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .menu-top > .menuSide > nav{
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        background-color: #ffffff;
        border: 1px solid rgb(30, 170, 111);
        top: 60px;
        right: -35px;
        border-radius: 5px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s all cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .menu-top > .menuSide > nav.active-menu{
        right: 0px;
        opacity: 1;
        visibility: visible;
    }

    .menu-top > .menuSide > nav > li > a{
        color:rgb(30, 170, 111);
        margin-left: 0;
        padding: 10px 10px;
    }
}


 